<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/mandalorian-icon.png') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Mandalorian</title>
  </head>
  <body>
    <header class="Header">
        <img src="{{ url_for('static', filename='img/mandalorian.png') }}" width="300px"/>
    </header>
    <main>
        <p>Cinco años después de los eventos de El Retorno del Jedi y la caída del Imperio Galáctico, The Mandalorian sigue a Din Djarin / El Mandaloriano, un cazarrecompensas mandaloriano solitario en los confines de la galaxia. Es contratado por las fuerzas imperiales remanentes para recuperar al niño Grogu, pero en su lugar huye para protegerlo. Mientras buscan reunir a Grogu con los de su clase, son perseguidos por Moff Gideon, que quiere usar la conexión de Grogu con la Fuerza. </p>
        <div id="capitulos-container"></div>
    </main>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>